
#select-modal div.am-modal-bd {
    height: 320px;
}

#select-modal .am-g:first-child .am-form-group {
    padding-top: 40px;
}

div.report-content {
    width: 960px;
    margin: 0 auto;
}

#report-filter-form .am-form-field{
    margin: 0 auto;
}

#report-filter-form .am-input-group-btn button {
    border-left: none!important;
}
.no-border-right {
    border-right: none!important;
}